@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset 코드가 필요하다면 여기에 추가합니다. */
/* reset */

body {
  background-color: #232323;
  font-family: 'Noto Sans KR', sans-serif;

  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -1px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  vertical-align: baseline;
  word-break: keep-all;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table {
  white-space: pre-wrap;
}

ol,
ul {
  list-style: none;
}

button {
  background: transparent;
  cursor: pointer;
}

.markdowContainer {
  code {
    font-size: 85%;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    background-color: #e9ecef;
    font-size: 0.9rem;
    font-family: 'Pretendard', 'Malgun Gothic', sans-serif;
  }
  strong {
    font-weight: bold;
  }
  a {
    text-decoration: underline;
    transition: all 0.3s;
  }

  a:hover {
    color: #0027e3;
  }
}

/* CSS 파일에 추가 */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Opera */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
